<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <title>Cairurú</title>
    </head>
    <body>
        <header>
            <nav class="nav-container">
                <div class="nav-img">
                    <a href="/"><img src="img/logo1v2.png" alt="Logo Cairurú"></a></a>
                </div>
                <ul class="nav-ul">
                    <li><a class="nav-ul-a" href="/">Inicio</a></li>
                    <li><a class="nav-ul-a" href="#">Tienda</a></li>
                    <li><a class="nav-ul-a" href="#">Diseños personalizados</a></li>
                    <li><a class="nav-ul-a" href="#">Cuidado de tu joya</a></li>
                    <li><a class="nav-ul-a" href="#">Sobre mí</a></li>
                </ul>
                <div class="nav-login">
                    <button class="my-button-style" type="submit"><i class="fa-solid fa-user"></i> Ingresá o Registrate</button>
                </div>
            </nav>
            <form class="search">
                <input type="text" placeholder="Buscar..." minlength="3" required>
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <nav class="nav-sm">
                <div class="menu">
                    <button type="menu" class="nav-sm-button"><i class="fa-solid fa-bars"></i></button>
                </div>
                <div class="shopping-cart">
                    <button type="menu" class="nav-sm-button"><i class="fa-solid fa-cart-shopping"></i> 0</button>
                </div>
            </nav>
        </header>
        <main>
            <div class="banner">
                <img src="img/banner2.jpg" alt="Gargantilla piedra Azurita con Malaquita">
            </div>
            <div class="all-sections">
                <div class="section-one">
                    <div class="section-title">
                        Joyería en macramé con piedras naturales
                        <div class="section-title-img">
                            <img src="img/line.png" alt="">
                        </div>
                    </div>
                    <div class="section-articles">
                        <a class="my-article" href="#">
                            <img src="img/anillos.jpg" alt="">
                            <div class="my-article-description">
                                <p>Anillos</p>
                            </div>
                        </a>

                        <a class="my-article" href="#">
                            <img src="img/aros.jpg" alt="">
                            <div class="my-article-description">
                                <p>Aros</p>
                            </div>
                        </a>

                        <a class="my-article" href="#">
                            <img src="img/colgantes.jpg" alt="">
                            <div class="my-article-description">
                                <p>Colgantes</p>
                            </div>
                        </a>

                        <a class="my-article" href="#">
                            <img src="img/collares.jpg" alt="">
                            <div class="my-article-description">
                                <p>Collares</p>
                            </div>
                        </a>

                        <a class="my-article" href="#">
                            <img src="img/personalizados.jpg" alt="">
                            <div class="my-article-description">
                                <p>Personalizados</p>
                            </div>
                        </a>

                        <a class="my-article" href="#">
                            <img src="img/pulseras.jpg" alt="">
                            <div class="my-article-description">
                                <p>Pulseras</p>
                            </div>
                        </a>

                        <a class="my-article" href="#">
                            <img src="img/tiaras2.jpg" alt="">
                            <div class="my-article-description">
                                <p>Tiaras</p>
                            </div>
                        </a>
                        
                        <a class="my-article" href="#">
                            <img src="img/tobilleras.jpg" alt="">
                            <div class="my-article-description">
                                <p>Tobilleras</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="middle-section-logo">
                    <img src="img/logo2v2.png" alt="">
                </div>

                <div class="section-two">
                    <div class="section-text">
                        <div class="section-title">
                            Cairurú: Amuletos de raíz
                            <div class="section-title-img">
                                <img src="img/line.png" alt="">
                            </div>
                        </div>
                        <div class="section-description">
                            <p>
                                Tento malumgus o Tento vermelho en el amazonas de Brasil, 
                                Cairurú o Pionia en Venezuela, Chocho en Colombia, Hairuro 
                                o Huayro en Ecuador, Huayruro en Perú y Sirari Bolivia, son 
                                algunos de los nombres que adoptó esta mística semilla, 
                                utilizada desde nuestros antepasados en sus amuletos protectores, 
                                aquellos quienes también nos dejaron la técnica ancestral del macramé; 
                                el arte de crear infinidad de tejidos realizando nudo tras nudo, 
                                a todos ellos y ellas; gracias por sus enseñanzas.
                            </p>
                            <p>
                                <br>Cairurú es simbolo de prosperidad y buena suerte para quien 
                                lo porte, y su significado se potencia con los minerales que 
                                nos brinda la tierra, a ella la honramos. 
                            </p>
                            <p>
                                <br>Gracias por estar acá hoy ¡Deseo que todas sus virtudes te acompañen!
                            </p>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="img/collares-home.jpg" alt="">
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-col-container">
                <div class="footer-col">
                    <span>Menú</span>
                    <ul>
                       <li><a href="/">Inicio</a></li> 
                       <li><a href="#">Tienda</a></li> 
                       <li><a href="#">Diseños personalizados</a></li> 
                       <li><a href="#">Cuidado de tu joya</a></li> 
                       <li><a href="#">Sobre mí</a></li> 
                    </ul>
                </div>
                <div class="footer-col">
                    <span>Tienda</span>
                    <ul>
                        <li><a href="#">Anillos</a></li> 
                        <li><a href="#">Aros</a></li> 
                        <li><a href="#">Colgantes</a></li> 
                        <li><a href="#">Collares</a></li> 
                        <li><a href="#">Personalizados</a></li> 
                        <li><a href="#">Pulseras</a></li> 
                        <li><a href="#">Chokers/Tiaras</a></li> 
                        <li><a href="#">Tobilleras</a></li> 
                    </ul>
                </div>
                <div class="footer-col">
                    <span>Privacidad</span>
                    <ul>
                        <li><a href="#">Política de privacidad</a></li> 
                        <li><a href="#">Aviso legal</a></li> 
                        <li><a href="#">Términos y condiciones</a></li> 
                        <li><a href="#">Política de devoluciones</a></li> 
                    </ul>
                </div>
                <div class="footer-col">
                    <span>Redes</span>
                    <div class="social-networks">
                        <a href="https://www.facebook.com/cairuru.macrame" target="_blank"><button type="button"><i class="fa-brands fa-facebook-f"></i></button></a>
                        <a href="https://www.instagram.com/cairuru.artesanias/" target="_blank"><button type="button"><i class="fa-brands fa-instagram"></i></button></a>
                    </div>
                    <span>Medios de pago</span>
                    <div class="payments">
                        <img src="img/efectivo2.png" alt="">
                        <img src="img/mercado-pago.jpg" alt="">
                        <img src="img/rapipago.png" alt="">
                        <img src="img/pago-facil.png" alt="">
                    </div>
                    <span>Envíos en Argentina </span>
                    <div class="shipments">
                        <img src="img/correo-argentino.png" alt="">
                    </div>
                </div>
            </div>
            <div class="footer-row">
                <p>&copy; Todos los derechos reservados.</p>
            </div>
        </footer>
    </body>
</html>