<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <title>Cairurú</title>
    </head>
    <body>
        <header>
            <nav class="nav-container">
                <div class="nav-img">
                    <a href="/"><img src="img/logo1v2.png" alt="Logo Cairurú"></a></a>
                </div>
                <ul class="nav-ul">
                    <li><a class="nav-ul-a" href="#">Inicio</a></li>
                    <li><a class="nav-ul-a" href="#">Tienda</a></li>
                    <li><a class="nav-ul-a" href="#">Diseños personalizados</a></li>
                    <li><a class="nav-ul-a" href="#">Cuidado de tu joya</a></li>
                    <li><a class="nav-ul-a" href="#">Sobre mí</a></li>
                </ul>
                <div class="nav-login">
                    <button class="my-button-style" type="submit"><i class="fa-solid fa-user"></i> Ingresá o Registrate</button>
                </div>
            </nav>
        </header>
        <main>

        </main>
        <footer>

        </footer>
    </body>
</html>