<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesCart.css">
    <title>Mi carrito</title>
</head>
<body>
    <header>
        <nav class="nav-container">
            <div class="nav-img">
                <a href="/"><img src="img/logo1v2.png" alt="Logo Cairurú"></a></a>
            </div>
            <ul class="nav-ul">
                <li><a class="nav-ul-a" href="/">Inicio</a></li>
                <li><a class="nav-ul-a" href="#">Tienda</a></li>
                <li><a class="nav-ul-a" href="#">Diseños personalizados</a></li>
                <li><a class="nav-ul-a" href="#">Cuidado de tu joya</a></li>
                <li><a class="nav-ul-a" href="#">Sobre mí</a></li>
            </ul>
            <div class="nav-login">
                <button class="my-button-style" type="submit"><i class="fa-solid fa-user"></i> Ingresá o Registrate</button>
            </div>
        </nav>
        <form class="search">
            <input type="text" placeholder="Buscar..." minlength="3" required>
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <nav class="nav-sm">
            <div class="menu">
                <button type="menu" class="nav-sm-button"><i class="fa-solid fa-bars"></i></button>
            </div>
            <div class="shopping-cart">
                <button type="menu" class="nav-sm-button"><a href="/mi-carrito"><i class="fa-solid fa-cart-shopping"></i></a></button>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <!----------------- Propuesta 1 ----------------->
            <h2>Mi carrito</h2>
            <div class="header-cart">
                <h4 class="prod">Productos</h4>
                <h4 class="cant">Cantidad</h4>
                <h4 class="price">Precio</h4>
            </div>
            <article>
                <div class="description-product">
                    <img src="img/pulseras.jpg" alt="product" class="img-prod">
                    <p>Pulsera</p>
                </div>
                <p class="p1">2</p>
                <p class="p2">$7000</p>
            </article>
            <article>
                <div class="description-product">
                    <img src="img/pulseras.jpg" alt="product" class="img-prod">
                    <p>Pulsera</p>
                </div>
                <p class="p1">2</p>
                <p class="p2">$7000</p>
            </article>
            <ul>
                <li class="li-cart">
                    <p>Subtotal</p>
                    <p>$0000</p>
                </li>
                <li class="li-cart">
                    <p>Envio</p>
                    <p>$0000</p>
                </li>
                <li class="li-cart">
                    <p>Total</p>
                    <p>$0000</p>
                </li>
            </ul>
            <br>
            <button type="button" class="button-pay">Pagar</button>
            <a href="/" class="a-cart">Ver más productos</a>
        </section>
    </main>
    <footer>
        <div class="footer-col-container">
            <div class="footer-col">
                <span>Menú</span>
                <ul>
                   <li><a href="/">Inicio</a></li> 
                   <li><a href="#">Tienda</a></li> 
                   <li><a href="#">Diseños personalizados</a></li> 
                   <li><a href="#">Cuidado de tu joya</a></li> 
                   <li><a href="#">Sobre mí</a></li> 
                </ul>
            </div>
            <div class="footer-col">
                <span>Tienda</span>
                <ul>
                    <li><a href="#">Anillos</a></li> 
                    <li><a href="#">Aros</a></li> 
                    <li><a href="#">Colgantes</a></li> 
                    <li><a href="#">Collares</a></li> 
                    <li><a href="#">Personalizados</a></li> 
                    <li><a href="#">Pulseras</a></li> 
                    <li><a href="#">Chokers/Tiaras</a></li> 
                    <li><a href="#">Tobilleras</a></li> 
                </ul>
            </div>
            <div class="footer-col">
                <span>Privacidad</span>
                <ul>
                    <li><a href="#">Política de privacidad</a></li> 
                    <li><a href="#">Aviso legal</a></li> 
                    <li><a href="#">Términos y condiciones</a></li> 
                    <li><a href="#">Política de devoluciones</a></li> 
                </ul>
            </div>
            <div class="footer-col">
                <span>Redes</span>
                <div class="social-networks">
                    <a href="https://www.facebook.com/cairuru.macrame" target="_blank"><button type="button"><i class="fa-brands fa-facebook-f"></i></button></a>
                    <a href="https://www.instagram.com/cairuru.artesanias/" target="_blank"><button type="button"><i class="fa-brands fa-instagram"></i></button></a>
                </div>
                <span>Medios de pago</span>
                <div class="payments">
                    <img src="img/efectivo2.png" alt="">
                    <img src="img/mercado-pago.jpg" alt="">
                    <img src="img/rapipago.png" alt="">
                    <img src="img/pago-facil.png" alt="">
                </div>
                <span>Envíos en Argentina </span>
                <div class="shipments">
                    <img src="img/correo-argentino.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-row">
            <p>&copy; Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>