<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <title>Cairurú</title>
    </head>
    <body>
        <header>
            <nav class="nav-container">
                <div class="nav-img">
                    <a href="/"><img src="img/logo1v2.png" alt="Logo Cairurú"></a></a>
                </div>
                <ul class="nav-ul">
                    <li><a class="nav-ul-a" href="/">Inicio</a></li>
                    <li><a class="nav-ul-a" href="#">Tienda</a></li>
                    <li><a class="nav-ul-a" href="#">Diseños personalizados</a></li>
                    <li><a class="nav-ul-a" href="#">Cuidado de tu joya</a></li>
                    <li><a class="nav-ul-a" href="#">Sobre mí</a></li>
                </ul>
                <div class="nav-login">
                    <button class="my-button-style" type="submit"><i class="fa-solid fa-user"></i> Ingresá o Registrate</button>
                </div>
            </nav>
            <form class="search">
                <input type="text" placeholder="Buscar..." minlength="3" required>
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <nav class="nav-sm">
                <div class="menu">
                    <button type="menu" class="nav-sm-button"><i class="fa-solid fa-bars"></i></button>
                </div>
                <div class="shopping-cart">
                    <button type="menu" class="nav-sm-button"><i class="fa-solid fa-cart-shopping"></i> 0</button>
                </div>
            </nav>
        </header>
        <main class="main-product-detail">
            <div class="prod-container">
                <div class="prod-view">
                    <div class="prod-img">
                        <img src="img/pulsera-girasol-3.jpg" alt="Pulsera micromacrame con cuarzos.">
                    </div>
                    <div class="prod-detail">
                        <p class="prod-title">Pulsera de Girasol - Margaritas</p>
                        <p>Tejidas en micromacramé con Cuarzo Rosa o Amatista.</p>
                        <p class="prod-price">$ 1.500,00</p>
                        <button type="button" class="my-button-style"><i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                    </div>
                </div>
                <div class="prod-description">
                    <p class="prod-title">Descripción</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Dolores vel tempora porro nesciunt maiores suscipit iusto, 
                        esse iure ducimus itaque provident delectus nobis laboriosam 
                        incidunt qui laborum adipisci blanditiis illum!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Dolores vel tempora porro nesciunt maiores suscipit iusto, 
                        esse iure ducimus itaque provident delectus nobis laboriosam 
                        incidunt qui laborum adipisci blanditiis illum!
                    </p>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-col-container">
                <div class="footer-col">
                    <span>Menú</span>
                    <ul>
                       <li><a href="/">Inicio</a></li> 
                       <li><a href="#">Tienda</a></li> 
                       <li><a href="#">Diseños personalizados</a></li> 
                       <li><a href="#">Cuidado de tu joya</a></li> 
                       <li><a href="#">Sobre mí</a></li> 
                    </ul>
                </div>
                <div class="footer-col">
                    <span>Tienda</span>
                    <ul>
                        <li><a href="#">Anillos</a></li> 
                        <li><a href="#">Aros</a></li> 
                        <li><a href="#">Colgantes</a></li> 
                        <li><a href="#">Collares</a></li> 
                        <li><a href="#">Personalizados</a></li> 
                        <li><a href="#">Pulseras</a></li> 
                        <li><a href="#">Chokers/Tiaras</a></li> 
                        <li><a href="#">Tobilleras</a></li> 
                    </ul>
                </div>
                <div class="footer-col">
                    <span>Privacidad</span>
                    <ul>
                        <li><a href="#">Política de privacidad</a></li> 
                        <li><a href="#">Aviso legal</a></li> 
                        <li><a href="#">Términos y condiciones</a></li> 
                        <li><a href="#">Política de devoluciones</a></li> 
                    </ul>
                </div>
                <div class="footer-col">
                    <span>Redes</span>
                    <div class="social-networks">
                        <a href="https://www.facebook.com/cairuru.macrame" target="_blank"><button type="button"><i class="fa-brands fa-facebook-f"></i></button></a>
                        <a href="https://www.instagram.com/cairuru.artesanias/" target="_blank"><button type="button"><i class="fa-brands fa-instagram"></i></button></a>
                    </div>
                    <span>Medios de pago</span>
                    <div class="payments">
                        <img src="img/efectivo2.png" alt="">
                        <img src="img/mercado-pago.jpg" alt="">
                        <img src="img/rapipago.png" alt="">
                        <img src="img/pago-facil.png" alt="">
                    </div>
                    <span>Envíos en Argentina </span>
                    <div class="shipments">
                        <img src="img/correo-argentino.png" alt="">
                    </div>
                </div>
            </div>
            <div class="footer-row">
                <p>&copy; Todos los derechos reservados.</p>
            </div>
        </footer>
    </body>
</html>