<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <title>Cairurú</title>
    </head>
    <body>
        <%- include('./partials/headerP.ejs') %>
        <main class="main-index">
            <div class="banner">
                <img src="img/banner2.jpg" alt="Gargantilla piedra Azurita con Malaquita">
            </div>
            <div class="all-sections">
                <div class="section-one">
                    <div class="section-title">
                        Joyería en macramé con piedras naturales
                        <div class="section-title-img">
                            <img src="img/line.png" alt="">
                        </div>
                    </div>
                    <div class="section-articles">
                        <a class="my-article" href="#">
                            <img src="img/anillos.jpg" alt="">
                            <div class="my-article-description">
                                <p>Anillos</p>
                            </div>
                        </a>

                        <a class="my-article" href="#">
                            <img src="img/aros.jpg" alt="">
                            <div class="my-article-description">
                                <p>Aros</p>
                            </div>
                        </a>

                        <a class="my-article" href="#">
                            <img src="img/colgantes.jpg" alt="">
                            <div class="my-article-description">
                                <p>Colgantes</p>
                            </div>
                        </a>

                        <a class="my-article" href="#">
                            <img src="img/collares.jpg" alt="">
                            <div class="my-article-description">
                                <p>Collares</p>
                            </div>
                        </a>

                        <a class="my-article" href="#">
                            <img src="img/personalizados.jpg" alt="">
                            <div class="my-article-description">
                                <p>Personalizados</p>
                            </div>
                        </a>

                        <a class="my-article" href="#">
                            <img src="img/pulseras.jpg" alt="">
                            <div class="my-article-description">
                                <p>Pulseras</p>
                            </div>
                        </a>

                        <a class="my-article" href="#">
                            <img src="img/tiaras2.jpg" alt="">
                            <div class="my-article-description">
                                <p>Tiaras</p>
                            </div>
                        </a>
                        
                        <a class="my-article" href="#">
                            <img src="img/tobilleras.jpg" alt="">
                            <div class="my-article-description">
                                <p>Tobilleras</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="middle-section-logo">
                    <img src="img/logo2v2.png" alt="">
                </div>

                <div class="section-two">
                    <div class="section-text">
                        <div class="section-title">
                            Cairurú: Amuletos de raíz
                            <div class="section-title-img">
                                <img src="img/line.png" alt="">
                            </div>
                        </div>
                        <div class="section-description">
                            <p>
                                Tento malumgus o Tento vermelho en el amazonas de Brasil, 
                                Cairurú o Pionia en Venezuela, Chocho en Colombia, Hairuro 
                                o Huayro en Ecuador, Huayruro en Perú y Sirari Bolivia, son 
                                algunos de los nombres que adoptó esta mística semilla, 
                                utilizada desde nuestros antepasados en sus amuletos protectores, 
                                aquellos quienes también nos dejaron la técnica ancestral del macramé; 
                                el arte de crear infinidad de tejidos realizando nudo tras nudo, 
                                a todos ellos y ellas; gracias por sus enseñanzas.
                            </p>
                            <p>
                                <br>Cairurú es simbolo de prosperidad y buena suerte para quien 
                                lo porte, y su significado se potencia con los minerales que 
                                nos brinda la tierra, a ella la honramos. 
                            </p>
                            <p>
                                <br>Gracias por estar acá hoy ¡Deseo que todas sus virtudes te acompañen!
                            </p>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="img/collares-home.jpg" alt="">
                    </div>
                </div>
            </div>
        </main>
        <%- include('./partials/footerP.ejs') %>
    </body>
</html>