<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/register.css">
        <title>Cairurú</title>
    </head>
    <body>
        <%- include('./partials/headerP.ejs') %>
            
        <main>
        <div class="form-register">
            <form class="/register" method="POST">
                <h5>Registrate</h5>
                <div class="casilla-register">
                 <label for="text">Nombre</label>
                 <input type="text" name="text" id="text">
                </div>
                <div class="casilla-register">
                 <label for="text">Apellido</label>
                 <input type="text" name="text" id="text">
                </div>
                <div class="casilla-register">
                  <label for="email">Correo electronico</label>
                 <input type="email" name="email" id="email">
                </div>
                <div class="casilla-register">
                 <label for="password">Contraseña</label>
                 <input type="password" name="password" id="password">
                </div>
                <div class="casilla-register">
                 <label for="password">Repetir contraseña</label>
                 <input type="password" name="password" id="password">
                </div>
                <button type="submit" class="boton-de-register">Crear cuenta</button>
                <p>¿Ya tienes una cuenta? <a href="/login"> Ingresa </a></p>
            </form>
        </div>
        </main>
    
        <%- include('./partials/footerP.ejs') %>
    </body>
</html>