<footer>
    <div class="footer-col-container">
        <div class="footer-col">
            <span>Menú</span>
            <ul>
               <li><a href="/">Inicio</a></li> 
               <li><a href="#">Tienda</a></li> 
               <li><a href="#">Diseños personalizados</a></li> 
               <li><a href="#">Cuidado de tu joya</a></li> 
               <li><a href="#">Sobre mí</a></li> 
            </ul>
        </div>
        <div class="footer-col">
            <span>Tienda</span>
            <ul>
                <li><a href="#">Anillos</a></li> 
                <li><a href="#">Aros</a></li> 
                <li><a href="#">Colgantes</a></li> 
                <li><a href="#">Collares</a></li> 
                <li><a href="#">Personalizados</a></li> 
                <li><a href="#">Pulseras</a></li> 
                <li><a href="#">Chokers/Tiaras</a></li> 
                <li><a href="#">Tobilleras</a></li> 
            </ul>
        </div>
        <div class="footer-col">
            <span>Privacidad</span>
            <ul>
                <li><a href="#">Política de privacidad</a></li> 
                <li><a href="#">Aviso legal</a></li> 
                <li><a href="#">Términos y condiciones</a></li> 
                <li><a href="#">Política de devoluciones</a></li> 
            </ul>
        </div>
        <div class="footer-col">
            <span>Redes</span>
            <div class="social-networks">
                <a href="https://www.facebook.com/cairuru.macrame" target="_blank"><button type="button"><i class="fa-brands fa-facebook-f"></i></button></a>
                <a href="https://www.instagram.com/cairuru.artesanias/" target="_blank"><button type="button"><i class="fa-brands fa-instagram"></i></button></a>
            </div>
            <span>Medios de pago</span>
            <div class="payments">
                <img src="img/efectivo2.png" alt="">
                <img src="img/mercado-pago.jpg" alt="">
                <img src="img/rapipago.png" alt="">
                <img src="img/pago-facil.png" alt="">
            </div>
            <span>Envíos en Argentina </span>
            <div class="shipments">
                <img src="img/correo-argentino.png" alt="">
            </div>
        </div>
    </div>
    <div class="footer-row">
        <p>&copy; Todos los derechos reservados.</p>
    </div>
</footer>   